# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.Python
.hypothesis/
.pytest_cache/
*.egg-info/
env/
venv/
.venv/
*.log

# Alembic
#  all alembic migrations are live now
#alembic/versions/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Environment variables
.env

# old files
*.old
*.dead
*.ignore

# logs
logs/
tmp/

# config file
config.yaml
db/hypervisor/apps.yaml
db/hypervisor/state/
db/tmux_profiles/
app/static/user_media/
node_modules/
norman_internal_tls/
norman_internal_tls
sys
tmp_keystone_console_inline.js


*.sw[op]

# ignore user databases
db/*.db
coverage.xml
