secret_key: "super_secret_key_change_me"
initial_admin_password: "change_me_too"
initial_admin_email: "admin@example.com"
app_name: "norman"
debug: true
api_version: "v1"
api_prefix: "/api"

# Connectors
telegram_token: "your_telegram_token"
telegram_chat_id: "your_telegram_chat_id"
slack_token: "your_slack_token"
slack_channel_id: "your_slack_channel_id"
google_chat_service_account_key_path: "your_google_chat_service_account_key_path"
google_chat_space: "your_google_chat_space"
discord_token: "your_discord_token"
discord_channel_id: "your_discord_channel_id"
teams_app_id: "your_teams_app_id"
teams_app_password: "your_teams_app_password"
teams_tenant_id: "your_teams_tenant_id"
teams_bot_endpoint: "your_teams_bot_endpoint"
webhook_secret: "your_webhook_secret"
whatsapp_account_sid: "your_whatsapp_account_sid"
whatsapp_auth_token: "your_whatsapp_auth_token"
whatsapp_from_number: "your_whatsapp_from_number"
whatsapp_to_number: "your_whatsapp_to_number"
matrix_homeserver: "your_matrix_homeserver"
matrix_user_id: "your_matrix_user_id"
matrix_access_token: "your_matrix_access_token"
matrix_room_id: "your_matrix_room_id"
steam_api_key: "your_steam_api_key"
steam_chat_id: "your_steam_chat_id"

openai_api_key:

# Database
database_url: "sqlite:///./db/norman.db"

# Server
host: "0.0.0.0"
port: 8000


# how long before a session should close from the web ui
access_token_expire_minutes: 1440
algorithm: HS256
encryption_key: "your_encryption_key"
encryption_salt: "your_encryption_salt"
