# requirements.txt

fastapi==0.109.1
uvicorn==0.15.0
gunicorn==20.1.0
sqlalchemy==1.4.25
alembic==1.7.3
psycopg2-binary==2.9.1
python-dotenv==0.19.1
pydantic==1.8.2
httpx==0.23.0
aiofiles
slack_sdk
pyyaml
requests
jinja2==3.0.3
python-multipart
passlib
email-validator
pyjwt
openai
tiktoken
