# requirements.txt

fastapi==0.109.1
uvicorn==0.15.0
gunicorn==23.0.0
sqlalchemy==1.4.25
alembic==1.7.3
psycopg2-binary==2.9.1
python-dotenv==0.19.1
pydantic==1.10.13
httpx==0.23.0
aiofiles
slack_sdk
PyYAML
requests
jinja2==3.1.6
python-multipart
passlib
email-validator
pyjwt
openai
tiktoken
paho-mqtt
pika
tweepy
