AWS_PROFILE=example-profile
AWS_REGION=us-east-2
INBOUND_QUEUE_URL=https://sqs.us-east-2.amazonaws.com/<account-id>/evergreen-sms-inbound

DELIVERY_MODE=spool
KEEP_SPOOL_COPY=true
SPOOL_DIR=~/.local/state/cloudagent/evergreen-sms/inbox

WEBHOOK_URL=http://127.0.0.1:8796/hooks/evergreen-sms
WEBHOOK_TIMEOUT_SEC=10

COLLECTOR_URL=http://127.0.0.1:8796
COLLECTOR_TOKEN=
COLLECTOR_TIMEOUT_SEC=10

TMUX_TARGET=norman-bot-prime:0.0
TMUX_SOCKET_PATH=
TMUX_WORKING_DIR=/home/operator/code/norman
TMUX_SEND_ENTER=true
TMUX_ENTER_COUNT=2

POLL_WAIT_TIME_SEC=20
VISIBILITY_TIMEOUT_SEC=120
MAX_NUMBER_OF_MESSAGES=5
RUN_ONCE=false
