/* styles.css */

/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #212529;
    line-height: 1.6;
    background-color: #f8f9fa;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

/* Main content */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.messages-log {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #dee2e6;
    padding: 1rem;
    white-space: pre-wrap;
}

.messages-log .message {
    margin-bottom: 1rem;
}

.messages-log .message:nth-child(odd) {
    background-color: #f8f9fa;
    padding: 0.5rem;
}


 .main-container {
    display: flex;
  }

  .bots-container {
    width: 25%;
    overflow-y: auto;
  }

  .main-chat-container {
    width: 75%;
    border-left: 1px solid #ccc;
    max-height: 80vh;
    overflow: hidden;
  }

  .messages-container {
    overflow-y: auto;
    height: calc(90vh - 150px);
    max-height: 70vh;
    overflow-y: auto;
  }

  .bot-item {
    cursor: pointer;
  }


textarea {
  width: 60vw; /* or any other width you want */
  max-width: 500px; /* or any other width you want */
  min-height: 50px; /* or any other minimum height you want */
  resize: none; /* prevent manual resize */
  overflow: hidden; /* prevent scrollbar */
}

.search-container {
  margin-bottom: 1rem;
}

.search-input {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}


.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}


.message.system {
  background-color: #f1f1f1;
}
.message.assistant {
  background-color: #f0f0f0;
}

.message.user {
  background-color: #ffffff;
}

.message-timestamp {
  font-size: 0.8em;
  text-align: right;
}

.copy-button {
  font-size: 0.8em;
  float: right;
}

