/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #f4f4f4;
    padding: 20px;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 10px;
}

/* Main content */
main {
    padding: 20px;
}

/* Footer */
footer {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}


.messages-log {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #dee2e6;
    padding: 1rem;
    white-space: pre-wrap;
}

.messages-log .message {
    margin-bottom: 1rem;
}

.messages-log .message:nth-child(odd) {
    background-color: #f8f9fa;
    padding: 0.5rem;
}


 .main-container {
    display: flex;
  }

  .bots-container {
    width: 25%;
    overflow-y: auto;
  }

  .main-chat-container {
    width: 75%;
    border-left: 1px solid #ccc;
  }

  .messages-container {
    overflow-y: auto;
    height: calc(100vh - 150px);
  }

  .bot-item {
    cursor: pointer;
  }


