<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Norman</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Norman</h1>
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/connectors.html">Connectors</a></li>
                <li><a href="/channels.html">Channels</a></li>
                <li><a href="/bots.html">Bots</a></li>
                <li><a href="/filters.html">Filters</a></li>
                <li><a href="/messages_log.html">Messages</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        &copy; Norman {{ year }}
    </footer>
</body>
</html>
