
{% extends "base.html" %}

{% block content %}
    <h1>Channels</h1>

    <div class="search-container">
        <input type="text" id="channelSearch" placeholder="Search channels...">
    </div>

    <h2>Add a Channel</h2>
    <div class="add-channel-container">
        <input type="text" id="channelName" placeholder="Channel name">
        <div class="connector-select-container">
            <label for="connectorSelect">Connector:</label>
            <select id="connectorSelect">
            <option value="webhook">Webhook</option>
            <option value="irc">IRC</option>
            <option value="slack">Slack</option>
            <option value="teams">Microsoft Teams</option>
            <option value="discord">Discord</option>
            <option value="google_chat">Google Chat</option>
            <option value="telegram">Telegram</option
            </select>
        </div>
        <button id="addChannelBtn">Add Channel</button>
    </div>

    <div class="channels-list">
        <!-- Display the list of channels here -->
    </div>

    <script src="/static/js/script.js"></script>
{% endblock %}


